.row {
  white-space: nowrap;
}
.row.header {
  display: inline-block;
  padding: 6px;
  width: 100px;
  border: solid 1px gray;
  text-align: left;
  font-weight: bold;
}

.column {
  display: inline-block;
  padding: 6px;
  width: 100px;
  border: solid 1px gray;
  text-align: right;
}

.column.header {
  font-weight: bold;
}

.small {
  color: red;
}

.large {
  color: green;
}
